
body, html {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
    margin-left: 8rem;
    margin-right: 7rem;
}

p {
    color: aliceblue;
    text-align: center;
    background-color: #02311b;
}

.footer {
    margin-top: auto; 
    width: 100%;
}
nav{
    width: 100%;
}
