*{
    background-color: lightgoldenrodyellow;
    font-family: Georgia, 'Times New Roman', Times, serif
}

header{
    text-align: center;
    color: purple;
    font-size: x-large;
}

.container #input{
    text-align: center;
    color: darkslateblue;
    font-size: medium;
}

.container .input h3{
    font-size: x-large;
    color: darkslategrey;
}

button{
    background-color:aquamarine;
}