h1{
    text-align: center;
    font-size: 7rem;
    margin-left: 5rem;
    
}

.flex{
    display:flex;  
    justify-content: center;
    gap: 150px; 

}

button{
    font-size: 3rem;
    padding: 1rem; 
    cursor: pointer;
}